<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="min-h-screen bg-zinc-900 p-10 text-white">
        <a href="/" class="text-blue-400">Go Back</a>
        <div class="notes lg:flex flex-col">
          <% if(notes.length>0){%>

            <% notes.forEach((note)=>{ %>
              <div class="bg-zinc-800 mt-10 px-5 py-3 rounded-md">
                <h3 class="text-zinc-400 mb-5 text-xl"><%=note.title%></h3>
                <p class="text-white"> <%= note.note %></p>
                <div class="flex gap-10 justify-between pt-3 items-center">
                  <a href="/edit/<%=note._id%>" class="text-slate-600">Edit Note</a>
                  <a href="/delete/<%=note._id%>" class="text-red-600">Delete Note</a>
              </div>
              </div>
              <% }) %>
            </div>
          <% } else{ %>
            <div class="flex flex-col gap-10">
              <p class="text-zinc-600 text-xl block mt-5">No notes yet..</p>
              <a href="/" class="text-white tracking-tight cursor-pointer bg-blue-800 p-2 w-fit rounded-xl">Create Notes</a>
            </div>
         <% }%>
    </div>
  </body>
</html>
